body {
    margin:0;
    font-family: "Saira", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #071d29;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.logo {
    color: orange;
    font-size: 20px;
    font-weight: 800;
}

#title {
    background-color: #071d29;
    color: white;
    padding:20px;
}

.sb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #071d29;
}

.sb button {
    color: white;
    background-color: #0a3045;
    border: 2px solid orange;
    border-radius: 12px;
    padding: 14px 40px;
    font-size: 18px;
    cursor: pointer;
}

.sb button:hover {
    background-color: orange;
    color: #071d29;
}

.signup-box {
    display: flex;
}

.divider {
    width: 1px;
    background-color: gray;
}

.left-side, .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 2rem;
}

.signup-box {
    display: flex;
    background-color: #0a2a3a;
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 16px;
    overflow: hidden;
    width: 580px;
    margin: auto;
}
